.special-offers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.offer {
  text-align: center;
}

.offer-image {
  position: relative;
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  border-radius: 50%; /* Makes the container circular */
  overflow: hidden; /* Hides overflow to maintain circular shape */
  margin-bottom: 10px;
}

.rounded-full {
  border-radius: 50%;
}
